.fondito {
  background-color: darkblue;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Cin%C3%A9polis_logo.svg/3000px-Cin%C3%A9polis_logo.svg.png");
  background-repeat: no-repeat;
  background-size: 1300px;
  padding-top: 400px;
  display: flex;
  color: white;
}

form {
  border: 2px solid white;
  border-radius: 10px;
  padding:  40px;
  width: 500px;
}



h2 {
  text-align: center;
}


input[type="radio"] {
  margin-left: 15px;
}

button {
  width: 45%;
  margin: 10px 2%;
  background-color: yellow;
}




